# Projet maison n° 3

In [ ]:
# imports
import pandas as pd

## 1. US baby names

On va s'intéresser au dataset **National data** de la SSA : https://www.ssa.gov/oact/babynames/limits.html

1. Télécharger le dataset des prénoms US : https://www.ssa.gov/oact/babynames/names.zip

Lire la documentation associée.

2. Implémenter une fonction Python qui produit un unique DataFrame avec tous les fichiers en utilisant pandas (par ex. fonction "concat" ou méthode "append"), pas de bash :)

Ordre et noms des colonnes : 'year', 'name', 'gender', 'births'

Le DataFrame doit être trié selon l'année croissante puis selon l'ordre défini par les différents fichiers (voir la documentation du dataset).

In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

In [2]:
# names us
def df_names_us():
    zip_file = ZipFile('./names.zip')
    files = zip_file.infolist()
    dicofs={}
    for f in files:
         if f.filename.endswith('.txt'):
            df=pd.read_csv(zip_file.open(f.filename),header=None,names=['name','gender','births'])
            df["year"]=f.filename[3:7]
            dicofs[f.filename] = df
            
    dfs = pd.concat(dicofs.values(),axis=0)
    dfs = dfs.sort_values(by=['year','gender','births','name'],ascending=[True,True,False,True],ignore_index=True) 
    dfs = dfs.iloc[:,[3,0,1,2]]
    return dfs

## 2. Prénoms français

On va s'intéresser au dataset **Fichiers France hors Mayotte** de l'INSEE :  https://www.insee.fr/fr/statistiques/2540004/

L'idée est de charger les données et ensuite de les conformer au DataFrame des prénoms US. Ainsi, toute manipulation sur le DataFrame des prénoms US pourra être directement réutilisée avec le DataFrame des prénoms français.
 
1. Télécharger le dataset des prénoms français : https://www.insee.fr/fr/statistiques/fichier/2540004/nat2020_csv.zip


Lire la documentation, ça peut être utile...
 
2. Implémenter une fonction Python qui produit un DataFrame avec les prénoms français en prenant le DataFrame des prénoms US comme modèle :
 
 - Même ordre et mêmes noms des colonnes : year, name, gender, births
 - Mêmes dtypes pour les colonnes
 - Mêmes valeurs pour la colonne 'gender'
 - Seuls les prénoms de 2 caractères et plus sont conservés
 - La casse des prénoms doit être identique : initiales en majuscule, autres lettres en minuscule
 - Les lignes avec des données inutilisables doivent être supprimées
 - Les données sont triées à l'identique : années (↑), puis gender (↑), puis births (↓) et enfin name (↑)
 - L'index du DataFrame doit aller de 0 à N-1

In [146]:
# names fr
def df_names_fr():
    dic={}
    df = pd.read_csv ('./nat2020.csv')
    df = pd.DataFrame()
    df = pd.read_csv ('./nat2020.csv',sep=';')
    df=df.rename(columns={"sexe": "gender", "preusuel": "name", "annais": "year", "nombre": "births"})
    df["gender"]=df.apply(lambda x: "M" if x["gender"]==1 else "F" ,axis=1)
    df["name"]=df["name"].apply(lambda x: str(x))
    df=df.drop(df.loc[df["name"].isna()].index)
    df=df.drop(df.loc[df["year"]=='XXXX'].index)    
    df['year']=df['year'].apply(lambda x: int(x) )    
    df=df.drop(df.loc[(df["name"].str.len()<2)].index)
    df["name"]=df["name"].str.title()
    df=df.drop(df.loc[df["name"]=="_Prenoms_Rares"].index)
    df=df.iloc[:,[2,1,0,3]]
    df=df.sort_values(by=['year','gender','births','name'],ascending=[True,True,False,True],ignore_index=True) 
    print (dic)
    return df

## 3. Taux de change

On va s'intéresser au dataset des cours des devises de la Banque de France :  http://webstat.banque-france.fr/fr/#/downloading

L'idée est de charger les données, de les nettoyer et de pouvoir accéder aux cours de certaines devises à partir de leur code ISO3.
 
1. Utiliser le dataset des taux de change fourni.


2. Implémenter une fonction qui produit un DataFrame avec les taux de change par date pour une liste de codes ISO3 de devises passée en argument. L'index du DataFrame doit correspondre aux dates (voir la fonction pd.to_datetime() avec le format '%d/%m/%Y'). Les colonnes du DataFrame doivent correspondre aux devises.

In [368]:
import re

def df_taux_change(devises):
    df = pd.read_csv('./Webstat_Export_20210929.csv', sep=';')
    
    columns = list(df.columns.values)
    change_titre = {f: re.sub('.*(\([A-Z]{3}\)).*',r'\1',f.upper())[1:-1]  for k,f in enumerate(df.columns) if k!=0 and k!=17}
    df = df.rename(columns=change_titre)
    df = df.rename(columns={df.columns[0]: 'Date',df.columns[17]: 'INR'})#Indian Roupie 
    df = df.drop(df.index[0:5])
    df.Date = pd.to_datetime(df.Date, format='%d/%m/%Y')
    df = df.set_index('Date')
    df = df.apply(lambda x: x.str.replace(',', '.'))
    df = df.apply(lambda x: x.str.replace('-', ''))
    df = df.replace('', np.nan)
    df = df.astype(float) 
    df = df.dropna() 
    
    return df[devises]

In [378]:
df_taux_change(['INR'])

               INR
Date
2006-12-29  58.218
2006-12-28  58.170
2006-12-27  58.200
2006-12-22  58.645
2006-12-21  58.657
...            ...
2000-07-25  42.463
2000-07-24  41.736
2000-07-21  42.002
2000-07-20  41.401
2000-07-19  41.258

[1651 rows x 1 columns]

### Tests

In [365]:
import unittest

class Lesson4Tests(unittest.TestCase):
    def test_df_names_us(self):
        df = df_names_us()
        # colonnes
        self.assertEqual(list(df.columns), ['year', 'name', 'gender', 'births'])
        # lignes
        self.assertEqual(len(df), 2020863)
        # index
        self.assertTrue(isinstance(df.index, pd.core.indexes.range.RangeIndex))
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)
        
    def test_df_names_fr(self):
        df = df_names_fr()
        # colonnes
        self.assertEqual(list(df.columns), ['year', 'name', 'gender', 'births'])
        # lignes
        self.assertEqual(len(df), 630407)
        # index
        self.assertTrue(isinstance(df.index, pd.core.indexes.range.RangeIndex))
        # test names
        self.assertTrue(df.loc[df['name'].str.contains('^[A-Z]+(?:-[A-Z]+)?$')].empty)
        # test gender
        self.assertEqual(len(df), len(df.loc[df['gender']=='F']) + len(df.loc[df['gender']=='M']))
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)

    def test_df_taux_change(self):
        df = df_taux_change(['CHF', 'GBP', 'USD'])
        # colonnes
        self.assertEqual(list(df.columns), ['CHF', 'GBP', 'USD'])
        # index
        self.assertTrue(isinstance(df.index, pd.core.indexes.datetimes.DatetimeIndex))
        # types taux
        self.assertTrue((df.dtypes == 'float').all())
        # test NaN
        self.assertTrue(df.loc[df.isnull().any(axis=1)].empty)

In [366]:
# run tests
def run_tests():
    test_suite = unittest.makeSuite(Lesson4Tests)
    runner = unittest.TextTestRunner(verbosity=3)
    runner.run(test_suite)

In [370]:
# run tests

run_tests()

test_df_names_fr (__main__.Lesson4Tests) ...

{}

ok
test_df_names_us (__main__.Lesson4Tests) ... ok
test_df_taux_change (__main__.Lesson4Tests) ... ok

----------------------------------------------------------------------
Ran 3 tests in 26.023s

OK